<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="styles.css"> <!-- Aggiungi il tuo file CSS per lo styling -->
</head>
<body>
        
	<div class="container">
		<form action= "/registrazione" method = "POST">
		<h5>Inserisci il nome</h5>
		<br>
		<input type="text" name = "nome">
		<br>
		Inserisci cognome
		<br>
		<input type="text" name = "cognome">
		<br>
		Inserisci mail
		<br>
		<input type="text" name = "mail">
		<br>
		Inserisci password
		<br>
		<input type="text" name = "password">
		<br>
		
		<input type = "submit">
		</form>
		<hr>
		<br>
		
		
		
		</form>
</body>
</html>